.box {
  content-align: center middle;
  /*border: round $accent;*/
  height: 1fr;
}

Sidebar, SubMenu {
  border: round $accent;
}

OptionList {
  border: blank;
}

.current-menu {
  background: #387478;
}

.column {
  width: 1fr;
}

.hidden {
  display: none;
}

#sidebar {
  dock: left;
}
